
nav {
	background-color: darkred;
}

h2 {
    color: darkred;
}

ul { 
    list-style: none;
    padding: 0% !important;
}

/* .btn-danger:hover {
	color: #fff;
    background-color: darkred;
    border-color: darkred;
} */