
html, body {
    background-image: url("../img/background-white.jpg");
    font-family: cursive;
}

h2 { color: darkred; }

ul {
    list-style: none;
    padding: 0% !important;
}

section.bg-light {
    background-image: url("../img/hero-background-white.jpg");
    border-radius: 10%;
    padding: 2%;
    width: 80%;
}

.hero {
    width: 80%;
}

.hero h3 {
    margin: 0 1.75%;
}
.hero h3.one {
    width: 74%;
}
.hero h3.two {
    width: 35%;
}
.hero h3.three {
    width: 22%;
}

.bg-slogans {
    background-image: linear-gradient(140deg, #D22B2B 0%, darkred 50%, #333 75%);
    box-shadow: 10px 5px 5px 5px #555;

    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    margin: 1%;
    padding: 1%;

    transition: all 0.5s ease-in-out;
}

.bg-slogans:hover {
    box-shadow: 
        0 -10px 15px -5px rgba(255, 69, 0, 0.8),
        0 -20px 30px -10px rgba(255, 140, 0, 0.7),
        0 -30px 45px -15px rgba(255, 165, 0, 0.6);
    cursor: crosshair;
}

.bg-slogans.three:hover{
    width: 24% !important;
}
.bg-slogans.two:hover{
    width: 40% !important;
}
.bg-slogans.one:hover{
    width: 80% !important;
}

section#services {
    /* background-image: linear-gradient(140deg, #fff 10%, mintcream 90%); */
    padding-left: 10%;
    padding-right: 10%;
}

#services_inner {
    align-items: flex-start;
    display: flex;
    text-align: center;
}

.service_option {
    background: radial-gradient(640px at 7% 17%, #FFFFFF 20%, #ADD8E6 90%);
    border-radius: 5%;
    display: inline-block;
    margin: 0 1%;
    padding: 1%;
    width: 32%;
}

.service_option ul {
    text-align: start;
    display: inline-block;
}

.service_option li:before {
    content: '✓';
    color: green;
    font-weight: bolder;
}

.service_option span {
    display: block;
}

.serviceLogo {
    height: 50px;
    margin: 4%;
}